.card {
  padding: 5px 10px 10px 10px;
  background-color: #fafafa;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.card:hover {
  background-color: #efefef;
}

.cardTitle {
  text-align: center;
  text-transform: uppercase;
}

.cardContent {
  display: flex;  
}

.cardImages {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}